<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.*"
            id="net.sb.statemachine.generator.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Acceleo Model to Text" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="net.sb.statemachine.generator.ui.popupMenus.AcceleoGenerateStatemachineGeneratorAction"
               enablesFor="+"
               id="net.sb.statemachine.generator.ui.popupMenus.acceleoGenerateStatemachineGeneratorAction"
               icon="icons/default.gif"
               label="Generate Statemachine"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
   </extension>
</plugin>
