<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.acceleo.ide.ui.launching.launchConfigurationType">
<stringAttribute key="org.eclipse.acceleo.ide.ui.ARGUMENTS" value="${workspace_loc:net.sb.statemachine.generator.sample/model/spacehulk}/spacehulk.properties"/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_PROFILING" value="false"/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_TRACEABILITY" value="false"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.LAUNCHING_STRATEGY_DESCRIPTION" value="Java Application"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.MODEL_PATH" value="/net.sb.statemachine.generator.sample/model/spacehulk/spacehulk.stm"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.TARGET_PATH" value="/net.sb.statemachine.generator.sample/src-gen"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/net.sb.statemachine.generator/src/net/sb/statemachine/generator/main/Generate.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.sb.statemachine.generator.main.Generate"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;/home/moi/git/statemachine-generator/net.sb.statemachine.generator.sample/model/spacehulk/spacehulk.stm&quot; &quot;/home/moi/git/statemachine-generator/net.sb.statemachine.generator.sample/src-gen&quot; &quot;${workspace_loc:net.sb.statemachine.generator.sample/model/spacehulk}/spacehulk.properties&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="net.sb.statemachine.generator"/>
</launchConfiguration>
